/**
 * dark theme color
 */
$theme-jack-base: rgba(6, 202, 158, 1);
$theme-jack-base-active: rgba(255, 255, 255, 0.8);
$theme-jack-body-bg: #efeff3;
$theme-jack-sidebar-bg: rgba(16, 32, 66, 0.6);
$theme-jack-sidebar-group-active: rgba(16, 32, 66, 0.4);
$theme-jack-sidebar-item-active: rgba(16, 32, 66, 0.6);
$theme-jack-border-100: #dcdfe6;
$theme-jack-border-200: #e4e7ed;
$theme-jack-border-300: #ebeef5;
$theme-jack-table-striped: #fafafa;
$theme-jack-table-active: #f8fbfe;
$theme-jack-input-active: #95fcfb;
$theme-jack-white: rgba(255, 255, 255, 0.4);
$theme-jack-dark: rgba(16, 32, 66, 0.6);
$theme-jack-font-white: reba(255, 255, 255, 0.8);
$theme-jack-transparent: transparent;
