/**
 * dark theme color
 */
$theme-dark-base: #34c2c0;
$theme-dark-base-active: #2da8a6;
$theme-dark-body-bg: #efeff3;
$theme-dark-sidebar-bg: #434f62;
$theme-dark-sidebar-group-active: #3b4657;
$theme-dark-sidebar-item-active: #2c353d;
$theme-dark-border-100: #dcdfe6;
$theme-dark-border-200: #e4e7ed;
$theme-dark-border-300: #ebeef5;
$theme-dark-table-striped: #fafafa;
$theme-dark-table-active: #f8fbfe;
$theme-dark-input-active: #95fcfb;