/**
 * light theme color
 */
$theme-light-base: #47a6ff;
$theme-light-base-active: #3193f3;
$theme-light-body-bg: #f8fbfe;
$theme-light-sidebar-bg: #fff;
$theme-light-sidebar-group-active: #edf5fc;
$theme-light-sidebar-item-active: #d7eafc;
$theme-light-border-100: #dcdfe6;
$theme-light-border-200: #e4e7ed;
$theme-light-border-300: #ebeef5;
$theme-light-table-striped: #fcfcfc;
$theme-light-table-active: #f8fbfe;
$theme-light-input-active: #97c3fe;